.login {
  background: rgba(38, 34, 98, 0.75);
  padding: 5%;
  width: 65%;
  margin: 0 auto;

  .login-form {
    text-align: center;

    input {
      font-size: $font-sm;
      padding: 1vw 2vw;
      margin-bottom: 4%;
    }

    button {
      padding: 2% 10%;
      font-size: $font-sm;
    }

    .btn-secondary {
      box-sizing: border-box;
      border: solid 0.1vw $white;
      margin-bottom: 0;
    }
  }

  @media (max-width: 900px) {
    padding: 6%;

    .login-form {
      input {
        font-size: $font-std - 0.5vw;
      }

      button {
        font-size: $font-std - 0.5vw;
      }
    }
  }

  @media (max-width: 600px) {
    .login-form {

      input {
        font-size: $font-lg - 2vw;
        padding: 2vw 3vw;
        margin-bottom: $gutter-sm + 1.5%;
      }

      button {
        font-size: $font-lg - 2vw;
      }
    }
  }
}
