.signup {
  padding: 5%;
  background: rgba(186, 101, 40, 0.75);

  .signup-form {
    text-align: center;

    .btn-tertiary {
      box-sizing: border-box;
      border: solid 0.1vw $white;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 600px) {
  .signup {
    width: 35%;
    float: right;

    .signup-form {
      input {
        font-size: $font-sm + 0.5vw;
        padding: 1vw 2vw;
        margin-bottom: $gutter-std;
      }

      button {
        padding: 2% 10%;
        font-size: $font-sm + 0.5vw;
      }
    }
  }
}

@media (min-width: 900px) {
  .signup {
    .signup-form {
      input {
        font-size: $font-sm + 0.25vw;
        padding: 1vw 1.5vw;
        margin-bottom: $gutter-sm + 2%;
      }

      button {
        font-size: $font-sm + 0.25vw;
      }
    }
  }
}
