.signup {
  padding: 5%;
  background: rgba(186, 101, 40, 0.75);
  width: 75%;
  margin: 0 auto;

  .signup-form {
    text-align: center;

    .btn-tertiary {
      box-sizing: border-box;
      border: solid 0.1vw $white;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 600px) {
  .signup {
    padding: 4%;
    width: 32%;
    float: right;
    margin-right: $gutter-std;

    .signup-form {
      input {
        font-size: $font-sm + 0.5vw;
        padding: 1vw 2vw;
        margin-bottom: $gutter-std;
      }

      button {
        padding: 2% 10%;
        font-size: $font-sm + 0.5vw;
      }
    }
  }
}

@media (min-width: 900px) {
  .signup {
    .signup-form {
      input {
        font-size: $font-sm + 0.25vw;
        padding: 1vw 1.5vw;
        margin-bottom: $gutter-sm + 2%;
      }

      button {
        font-size: $font-sm + 0.25vw;
      }
    }
  }
}
