<section class="signup">
  <h2>sign up</h2>
  <form class="signup-form" ng-submit="signupCtrl.signup(signupCtrl.user)" novalidate>
    <input class="input-std" type="text" placeholder="name" ng-minlength="6" ng-model="signupCtrl.user.username" required />
    <input class="input-std" type="text" placeholder="email" ng-minlength="6" ng-model="signupCtrl.user.email" required />
    <input class="input-std" type="text" placeholder="password" ng-minlength="6" ng-model="signupCtrl.user.password" required />
    <button class="btn-std">sign up</button>
  </form>
</section>
