@import "../../../scss/lib/theme/vars";

.user-post {
  float: left;
  width: 50%;
  height: 28vw;
  // border: 1px solid black;
  // background-color: rgba(255, 255, 255, 0.5);
  background: rgba(38, 34, 98, 0.75);;

  .placeholder-image {
    float: left;
    height: 15vw;
    width: 15vw;
    margin-left: $gutter-sm;
    margin-top: $gutter-sm;

    img {
      height: 15vw;
      width: 15vw;
    }
  }

  .post-form {
    float: right;
    top: 0;
    width: 60%;
    height: 25vw;
    margin-top: $gutter-sm;

    p {
      padding-bottom: 1vw;
      .category {
        width: 17.5vw;
        padding: 2vw;

      }
      .price {
        width: 8vw;
        padding: 0.5vw;
        border: none;
      }
      .name {
        width: 19vw;
        padding: 0.5vw;
        border: none;

      }
      .description {
        margin-top: 1vw;
        min-width: 25.5vw;
      }
    }
    button {
      margin-left: 6vw;
      padding-bottom: 0.75vw;
    }
  }
}
