@import "../../../scss/lib/theme/vars";

.user-post {
  float: right;
  width: 45.2%;
  height: 28vw;
  padding: 1vw;
  background: rgba(38, 34, 98, 0.75);
  padding-left: 5%;
  padding-top: 2.5%;
  padding-bottom: 0;
  border: 0.25vw solid $white;
  margin-bottom: 2vw;

  .placeholder-image {
    float: left;
    height: 15vw;
    width: 15vw;
    margin-left: $gutter-sm;
    margin-top: $gutter-sm;

    img {
      height: 15vw;
      width: 15vw;
    }
  }

  .post-form {
    float: right;
    top: 0;
    width: 100%;
    height: 25vw;
    margin-top: $gutter-sm;
    font-size: 1.5vw;

    span {
      width: 20% !important;
      display: inline-block !important;
    }

    input {
      padding: 2% !important;
      width: 65% !important;
    }

    textarea {
      @extend input;
    }

    p {
      padding-bottom: 1vw;
      .category {
        width: 17.5vw;
        padding: 2vw;

      }
      .price {
        width: 8vw;
        padding: 0.5vw;
        border: none;
      }
      .name {
        width: 19vw;
        padding: 0.5vw;
        border: none;

      }
      .description {
        margin-top: 0.05vw;
        min-width: 25.5vw;
      }
    }
    button {
      float: right;
      margin-top: 1vw;
      margin-right: 4vw;
    }
  }
}
