<section class="user-post">
  <!-- <h2>create post</h2> -->

  <form class="post-form"
    ng-submit="createPostCtrl.createPost()">

    <p>
      <span>category:</span>
      <select class="category"
        form="post-form"
        ng-model="createPostCtrl.post.category" required>
        <option value="" disabled selected> --select-- </option>
        <option value="ski">ski + bindings</option>
        <option value="ski">ski boots</option>

        <option value="snowboard">snowboard + bindings</option>
        <option value="snowboard">snowboard</option>
        <option value="snowboard">snowboard bindings</option>
        <option value="snowboard">snowboard boots</option>

        <option value="soft-goods">jackets</option>
        <option value="soft-goods">pants</option>
        <option value="soft-goods">gloves/mittens</option>
        <option value="soft-goods">helmets</option>
        <option value="soft-goods">goggles</option>

      </select>
    </p>
    <p>
      <span>price: $</span>
      <input
        class="price"
        placeholder="price"
        ng-model="createPostCtrl.post.price" required>
    </p>
    <p>
      <span>name:</span>
      <input
        class="name"
        placeholder="name"
        ng-model="createPostCtrl.post.name" required>
    </p>
    <p>
      <span>description:</span>
      <textarea
        placeholder="description and contact info"
        type="text"
        class="description"
        ng-model="createPostCtrl.post.desc" required>
      </textarea>
    </p>
    <button class="btn-tertiary" type="submit">submit post</button>
  </form>

</section>
