.thumbnail {
  position: relative;
  margin-bottom: 10px;

  .thumbnail-rendered {

    img {
      width: 100%;
    }
  }

  .box {
    position: absolute;
    bottom: 10px;
    right: 10px;

    button {
      padding: 0.5vw 3vw;
    }
  }
}
