@import "../../scss/lib/theme/vars";

.message-container {
  .users {
    border: 1px solid white;
    width: 20vw;
    height: 5vw;
    // z-index: 40;
    // .username {
    //   color: $white;
    //   // background-color: $black;
    // }
  }
}
