@import "../../../scss/lib/theme/vars";

.edit-user {

  .edit-user-form {

    .edit-user-container {

      img {
        float: left;
        width: 15vw;
        margin-left: 3vw;
        margin-right: 4.5vw;
        height: 15vw;
        border: solid 0.25vw $white;
      }

      .btn-secondary {
        margin-top: 3.5vw;
        margin-bottom: 12vw;
      }

      .fieldset-editing {
        clear: both;
        width: $box-lg;
        margin-left: 3vw;

        .item-label {
          font-size: 1.5vw;
        }

        .email-label {
          margin-right: 3.1vw;
        }

        .location-label {
          margin-right: 1.35vw;
        }

        input {
          width: 60% !important;
        }
      }
    }
  }
}
