<section class="edit-user">
  <form class="edit-user-form"
    name="editUser"
    ng-submit="editUserCtrl.updateUserInfo()"
    no-validate>

    <div class="edit-user-container">
      <img ng-src="{{editUserCtrl.user.profileImageURI}}">
      <fieldset>
        <span class="item-label">name:</span>
        <input name="name" class="input-std" ng-model="editUserCtrl.user.username" />
      </fieldset>
      <fieldset>
        <span class="item-label">email:</span>
        <input name="email" class="input-std" ng-model="editUserCtrl.user.email" />
      </fieldset>
      <fieldset>
        <span class="item-label">location:</span>
        <input name="location" class="input-std" ng-model="editUserCtrl.user.location" />
      </fieldset>
      <!-- <button class="btn-std">edit profile pic</button> -->
    </div>
    <upload-profile></upload-profile>
    <button type="submit" class="btn-std">update</button>
  </form>
</section>
