@import "../../scss/lib/theme/vars";

.profile {
  h2 {
    text-align: center;
  }

  .post-section {
    // border: 1px solid orange;

    .home-link {
      position: relative;
      float: right;
      img {
        height: 15vw;
        width: 15vw;
      }
      h3 {
        position: absolute;
        color: $white;
        font-size: 3vw;
        top: 4.5vw;
        right: 13vw;
      }

    }

  }
}
