@import "../../scss/lib/theme/vars";

.profile {
  h2 {
    text-align: center;
    font-family: 'Rhodium Libre', serif;
    text-shadow: 4px 4px 4px $black;
  }

  .post-section {

    .home-link {
      position: relative;
      float: right;

      img {
        height: 15vw;
        width: 15vw;
      }
      h3 {
        position: absolute;
        color: $white;
        font-size: 3vw;
        top: 4.5vw;
        right: 13vw;
      }

    }

  }
}
