@import "../../../scss/lib/theme/vars";

.edit {
  width: 45%;
  float: right;

  .edit-container {
    padding-top: 2vw;
    float: right;
  }

  // .update-container {
  //   margin-top: 2vw;
  //   margin-left: 2vw;
  // }
}
