<section class="edit">
  <form class="edit-post"
    name="editPost"
    ng-submit="editPostCtrl.updatePost()"
    no-validate>

    <div class="edit-container">
      <fieldset>
        <span class="item-label">category:</span>
        <select class="category"
          ng-model="editPostCtrl.post.category" required>
          <option value="" disabled selected> --select-- </option>
          <option value="ski">ski + bindings</option>
          <option value="ski">ski boots</option>

          <option value="snowboard">snowboard + bindings</option>
          <option value="snowboard">snowboard</option>
          <option value="snowboard">snowboard bindings</option>
          <option value="snowboard">snowboard boots</option>

          <option value="soft-goods">jackets</option>
          <option value="soft-goods">pants</option>
          <option value="soft-goods">gloves/mittens</option>
          <option value="soft-goods">helmets</option>
          <option value="soft-goods">goggles</option>
        </select>
      </fieldset>

      <fieldset>
        <span class="item-label">price:</span>
        <input name="desc" class="input-std" ng-model="editPostCtrl.post.price">
      </fieldset>

      <fieldset>
        <span class="item-label">name:</span>
        <input name="name" class="input-std" ng-model="editPostCtrl.post.name">
      </fieldset>

      <fieldset>
        <span class="item-label">description:</span>
        <textarea name="desc" class="input-std" ng-model="editPostCtrl.post.desc"></textarea>
      </fieldset>

    </div>

    <button type="submit" class="btn-std">update</button>
  </form>
</section>
