@import "../../scss/lib/theme/vars";

.navbar {

  .navbar-header {

    height: 10vw;
    background: rgba(38, 34, 98, 0.75);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;

    img {
      height: 6vw;
      width: 6vw;
      float: left;
      padding-left: $gutter-std;
      padding-top: 2vw;
    }

    a {
      h1 {
        float: left;
        font-family: 'Rhodium Libre', serif;
        padding-top: $gutter-sm;
        padding-left: $gutter-sm;
      }
    }

    nav {
      margin-right: $gutter-std;
      .btn-container {
        padding-top: 2.75vw;
        button {
          float: right;
          margin-left: $gutter-sm;
        }

        .btn-primary {
          &:hover {
            background: $btn-hover-secondary *2;
            color: $white;
          }
        }
      }
    }
  }
}
