@import "../../../scss/lib/theme/vars";

.post-item {
  color: white;
  border: 3px solid $white;
  background: rgba(38, 34, 98, 0.75);
  width: 48%;
  margin: 0 auto;
  margin-top: 2vw;
  padding: 1.5vw;
  margin-left: 25%;


  .current-item {
    padding-top: 2vw;
    float: right;
    font-size: 1.5vw;
    margin-left: 2.5vw;
    width: 37%;
    div {
      margin-bottom: 5px;
    }
    button {
      background: $brand-tertiary;
      padding: 0.25vw 1.25vw;
    }
  }

  .update-container {
    margin-top: 2vw;
    margin-left: 2vw;
  }
}
