<li class="post-item">
  <div class="current-item" ng-if="!postItemCtrl.showEditPost">
    <div>
      <span class="item-label">category:</span>
      <span>{{ postItemCtrl.post.category}}</span>
    </div>

    <div>
      <span class="item-label">price:</span>
      <span>{{ postItemCtrl.post.price | currency }}</span>
    </div>

    <div class="name-label">
      <span class="item-label">name:</span>
      <span>{{ postItemCtrl.post.name }}</span>
    </div>

    <div>
      <span class="item-label">description:</span>
      <span>{{ postItemCtrl.post.desc }}</span>
    </div>

    <div class="update-container" ng-if="!postItemCtrl.showEditPost">
      <button class="btn-tertiary" ng-click="postItemCtrl.showEditPost = !postItemCtrl.showEditPost">edit</button>
      <button class="btn-tertiary" ng-click="postItemCtrl.deletePost()">delete</button>
    </div>
  </div>
  <edit-post ng-if="postItemCtrl.showEditPost" post="postItemCtrl.post"></edit-post>

  <thumbnail-container post="postItemCtrl.post"></thumbnail-container>

  <upload-image post="postItemCtrl.post"></upload-image>

  <div class="timestamp">
    <span>posted: {{ postItemCtrl.post.created | date: 'MMM d, y h:mm a'}}</span>
  </div>
</li>
