.landing {
  min-height: 700px;

  background-image: url(../../../img/woods.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
