.landing {
  min-height: 900px;

  span {
    display: inline-block;
    clear: both;
    width: 100%;
    font-size: 7vw;
    text-align: center;

    img {
      vertical-align: middle;
      width: 10vw;
      margin: 0 2vw;
    }
  }
}
