<section class="landing">
  <div class="initial-header clear-fix">
    <div class="signin-header"><span>sign in</span></div>
    <div class="signup-header"><span>sign up</span></div>
  </div>
  <div class="join-container" >
    <div class="join-inner">
      <signup></signup>
    </div>
  </div>
  <div class="join-container">
    <div class="join-inner">
      <login></login>
    </div>
  </div>

  <span><img src="../../../../img/gear-share-logo.png" alt="gearshare logo">GEARSHARE<img src="../../../../img/gear-share-logo.png" alt="gearshare logo"></span>
</section>
