<section class="landing">
  <div class="initial-header clear-fix">
    <div ng-click="landingCtrl.toggleView.showLoginForm=!landingCtrl.toggleView.showLoginForm" class="signin-header"><span>sign in</span></div>
    <div ng-click="landingCtrl.toggleView.showSignupForm=!landingCtrl.toggleView.showSignupForm" class="signup-header"><span>sign up</span></div>

    <div class="join-container">
      <div class="join-inner">
        <signup ng-if="landingCtrl.toggleView.showSignupForm"></signup>
      </div>

      <div class="join-inner">
        <login ng-if="landingCtrl.toggleView.showLoginForm"></login>
      </div>
    </div>
  </div>

  <div class="main-title">

    <span><img src="../../../../img/gear-share-logo.png" alt="gearshare logo">GEARSHARE</span>
  </div>
</section>
