.home-posts {
  &:first-child {
    clear: none;
  }

  clear: both;
  position: relative;
  list-style: none;
  color: white;
  border: 0.25vw solid $white;
  background: rgba(38, 34, 98, 0.75);
  width: 50%;
  margin: 0 auto;
  margin-top: 2vw;
  padding: 1.5vw;

  .info-wrapper {
    float: right;
    font-size: 1.5vw;
    margin-right: 2%;
    width: 41%;

    .whole-label {
      margin-bottom: 1vw;
    }
  }

  .post-images-wrapper {
    height: 30vw;
    overflow: auto;
    width: 50%;

    li{
      margin-bottom: 2%;

      img{
        width: 100%;
      }
    }
  }

  .timestamp {
    clear: both;
    font-size: 1.25vw;
    position: absolute;
    right: 1.75vw;
    bottom: 1.5vw;
  }

  @media (max-width: 600px) {
    width: 75%;
    height: 50vw;

    .info-wrapper {
      font-size: $font-std + 0.5vw;
    }

    .post-images-wrapper {
      height: 50vw;
    }

    .timestamp {
      font-size: 2vw;
      right: 2.25vw;
      bottom: 2vw;
    }
  }
}
