.home-posts {
  list-style: none;
  color: white;
  border: 0.25vw solid $white;
  background: rgba(38, 34, 98, 0.75);
  width: 50%;
  margin: 0 auto;
  margin-top: 2vw;
  padding: 1.5vw;

  .info-wrapper {
    float: right;
    font-size: 1.5vw;
    margin-right: 2%;
    width: 41%;

    .whole-label {
      margin-bottom: 0.5vw;
    }
  }

  .post-images-wrapper {
    height: 30vw;
    overflow: auto;
    width: 50%;
    li{
      margin-bottom: 2%;
      img{
        width: 100%;
      }
    }
  }
}
