<li class="home-posts">
  <div class="current-item">
    <div class="name-label">
      <span class="item-label">name:</span>
      <span>{{ homePostCtrl.post.name }}</span>
    </div>

    <div>
      <span class="item-label">description:</span>
      <span>{{ homePostCtrl.post.desc }}</span>
    </div>

    <div>
      <span class="item-label">category:</span>
      <span>{{ homePostCtrl.post.category}}</span>
    </div>

    <div>
      <span class="item-label">price:</span>
      <span>{{ homePostCtrl.post.price | currency }}</span>
    </div>
    <div>
      <span class="item-label">image:</span>
      <ul ng-repeat="item in homePostCtrl.post.images" post="homePostCtrl.post" image="item">
        <li>
          <img src="{{image.imageURI}}" alt="image.desc"/>
        </li>
      </ul>
    </div>
  </div>
</li>
