<li class="home-posts">
  <div class="current-item">
    <div class="name-label">
      <span class="item-label">name:</span>
      <span>{{ homePostCtrl.post.name }}</span>
    </div>

    <div>
      <span class="item-label">description:</span>
      <span>{{ homePostCtrl.post.desc }}</span>
    </div>

    <div>
      <span class="item-label">category:</span>
      <span>{{ homePostCtrl.post.category}}</span>
    </div>

    <div>
      <span class="item-label">price:</span>
      <span>{{ homePostCtrl.post.price }}</span>
    </div>
    <div>
      <span class="item-label">image:</span>
      <ul >
        <li>

          <img ng-src="" />
        </li>
      </ul>
    </div>
  </div>
</li>
