@import "../../scss/lib/theme/vars";

.home {

  input {
    display: block;
    margin-top: 3%;
    width: 50%;
    margin-left: 25%;
  }

  .filter-container {
    float: left;
    width: 20%;
    height: 28vw;
    margin-top: 19px;
    .btn-secondary2{
      background: #262262;
      color: #fff;
      border-radius: 20px;
      display: block;
      width: 96%;
      padding: 2%;
      text-align: center;
      margin-bottom: 3%;
      a {
        color: #fff;
      }
    }

    select {
      width: 100%;
      padding: 1%;
      margin-bottom: 7%;
    }

    button {
      width: 100%;
      background-color: #ba6528;
      padding: 2%;
      font-size: 1.75vw;
    }
  }
}
