<section class="home page-wrapper">
  <input class="input-std" type="text" ng-model="homeCtrl.postSearchTerm" placeholder="search"/>

  <div class="filter-container">
    <button class="btn-secondary" ng-click="homeCtrl.goToProfile()">my profile</button>
    <select ng-model="homeCtrl.select" ng-change="homeCtrl.filterByCategory(homeCtrl.select)">
      <option value="ski">ski + bindings</option>
      <option value="ski">ski boots</option>

      <option value="snowboard">snowboard + bindings</option>
      <option value="snowboard">snowboard</option>
      <option value="snowboard">snowboard bindings</option>
      <option value="snowboard">snowboard boots</option>

      <option value="soft-goods">jackets</option>
      <option value="soft-goods">pants</option>
      <option value="soft-goods">gloves/mittens</option>
      <option value="soft-goods">helmets</option>
      <option value="soft-goods">goggles</option>
    </select>
    <!-- <button class="btn-tertiary" ng-click="homeCtrl.filterByNewest()">filter by newest</button> -->
    <button class="btn-tertiary" ng-click="homeCtrl.reloadForNewest()">reset</button>
  </div>

  <home-posts
    ng-repeat="item in homeCtrl.homePostArray | postSearch: homeCtrl.postSearchTerm"
    post="item">
  </home-posts>
</section>
