@import "../../../scss/lib/theme/vars";

.user {

  .current-item {

    img {
      float: left;
      width: 15vw;
      margin-left: 3vw;
      margin-right: 4.5vw;
      height: 15vw;
      border: solid 0.25vw $white;
    }

    .profile-info {
      clear: both;
      padding-top: 2.5vw;
      margin-left: 3vw;

      span {
        display: inline-block;
        font-size: 1.5vw;
        padding-bottom: 0.25vw;
      }
    }

    .update-container {

      .btn-secondary {
        margin-top: 3.5vw;
        padding: 0.35vw 2.9vw;
      }
    }
  }
}
