@import "../../../scss/lib/theme/vars";

.user {
  // border: 1px solid blue;
  float: left;
  width: 25%;
  height: 28vw;
  .current-item {
    img {
      width: 20vw;
      height: auto;
      border: solid 3px $white;
    }
    p {
      font-size: 1.5vw;
      padding-top: 0.5vw;
    }

  }
  .btn-secondary {
    margin-top: 2vw;
    padding: 0.5vw 3vw;
  }
}
