@import "../../../scss/lib/theme/vars";

.user {
  float: left;
  width: 40%;
  height: 28.5vw;

  .current-item {
    padding-top: 3vw;
    background: rgba(186, 101, 40, 0.75);
    border: solid 3px $white;

    img {
      float: left;
      width: 15vw;
      margin-left: 3vw;
      margin-right: 4vw;
      height: auto;
      border: solid 3px $white;
    }

    .profile-info {
      clear: both;
      padding-top: 3vw;
      margin-bottom: 3.5vw;
      margin-left: 3vw;

      p {
        font-size: 1.5vw;
        padding-top: 0.5vw;
      }
    }

    .update-container {

      .btn-secondary {
        padding: 0.35vw 2.8vw;
      }
    }
  }
}
